.product-card {
    width: 300px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-title {
    text-align: center;
}

.product-title:first-letter {
    text-transform: uppercase;
}

.product-image {
    width: 100%;
}